* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-image: url('./img/espaco.gif');
}

.page-init {
    height: 100vh;
    background-repeat: repeat;
    width: 100%;
}


.nav-init {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 45px 8% 0px 8%;
}

.logo {
    font-size: 40px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.nav-barra li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 15px;
}

.nav-barra li a {
    color: white;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}

.marte {
    width: 7rem;
    height: 7rem;
    position: relative;
    background-image: url('./img/marte.jpg');
    box-shadow: inset -2rem -2rem 2rem #000, -0.5rem -0.5rem 1rem #d1a546;
    animation: rotacao 10s linear infinite;
}

.neturno {
    width: 9rem;
    height: 9rem;
    position: relative;
    background-image: url('./img/neturno.jpg');
    box-shadow: inset -2rem -2rem 2rem #000, -0.5rem -0.5rem 1rem #20749b;
    animation: rotacao 10s linear infinite;
}


.mercurio {
    width: 5rem;
    height: 5rem;
    position: relative;
    background-image: url('./img/mercury.jpg');
    box-shadow: inset -2rem -2rem 2rem #000, -0.5rem -0.5rem 1rem #d1a546;
    animation: rotacao 10s linear infinite;
}

.urano {
    width: 9rem;
    height: 9rem;
    position: relative;
    background-image: url("./img/urano.jpg");
    box-shadow: inset -2rem -2rem 2rem #000, -0.5rem -0.5rem 1rem #43a0f7;
    animation: rotacao 10s linear infinite;
}

.venus {
    width: 8rem;
    height: 8rem;
    position: relative;
    background-image: url("./img/map-venus-planet-lava-fire-hot-gas.jpg");
    box-shadow: inset -2rem -2rem 2rem #000, -0.5rem -0.5rem 1rem #f0d08b;
    animation: rotacao 10s linear infinite;
}

.planeta, .lua, .terra, .jupter, .sol, .mercurio, .venus, .marte, .urano, .neturno {
    border-radius: 50%;
    background-repeat: repeat;
    background-size: 200% 100%;
}

@keyframes rotacao {
    to { background-position: -200% 0;}
}

.setor-jupter {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.setor-venus, .setor-urano, .setor-neturno {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

.setor-marte {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

.setor-terra {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;
}



.setor-mercurio {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    gap: 100px;
}

.setor-sol {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    
}

.terra {
    width: 20rem;
    height: 20rem;
    position: relative;
    background-image: url("./img/terra.jpg");
    box-shadow: inset -2rem -2rem 2rem #000, -0.5rem -0.5rem 1rem #2671b8;
    animation: rotacao 10s linear infinite;
}

.sol {
    width: 25rem;
    height: 25rem;
    position: relative;
    background-image: url("./img/sol.jpg");
    box-shadow: inset -1.5rem -1.5rem 1.5rem #000, -0.2rem -0.2rem 0.5rem rgb(197, 81, 4);
    animation: 
        rotacao 10s linear infinite;
}

.texto {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    max-width: 50vh;
    letter-spacing: 3px;
    color: white;
}

.jupter {
    width: 25rem;
    height: 25rem;
    position: relative;
    background-image: url("./img/jupter.jpg");
    box-shadow: inset -2rem -2rem 2rem #000, -0.5rem -0.5rem 1rem #f4a261;
    animation: rotacao 10s linear infinite;
}














